* {
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 50px;
  background: #000;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item0, .item1, .item2, .item3, .item4 {
  display: flex;
  width: 100%;
}
.item1 > div, .item2 > div, .item3 > div, .item4 > div {
  flex: 1;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  font-weight: 900;
}
.item0.result {
  display: block;
  background: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: right;
  padding: 4px 0px 4px 0;
}
.item0 > p {
  text-align: right;
}
.clear {
  background: #f00 !important;
  color: #fff;
}
.equal {
  background: #aff !important;
  color: #000  !important;
  /* font-size: 30px; */
}
@media screen and (min-width: 900px) {
  .container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 40%;
  }
}